<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/sidebar.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <title>Hello, world!</title>
</head>
<body id="body-pd" class="bg-light">
<div class="container-fluid">
  <header class=" header" id="header">
    <div class="header_toggle"><i class="bi bi-list" id="header-toggle"></i></div>
    <div class="header_img"><img src="https://www.rosphoto.com/images/u/articles/1510/3_13.jpg" alt=""></div>
  </header>
</div>
<div class="l-navbar" id="nav-bar">
  <nav class="nav">
    <div>
      <a href="#" class="nav_logo">
        <i class='bx bx-layer nav_logo-icon'></i>
        <span class="nav_logo-name">Pro Образование</span>
      </a>
      <div class="nav_list">
        <a href="#" class="nav_link active">
          <span class="">
<!--            <i class="bi bi-diagram-3"></i>-->
            <i class="bi bi-book"></i>
          </span>
          <span class="nav_name">Университеты</span>
        </a>
        <a href="#" class="nav_link">
          <i class="bi bi-chat-left-text"></i>
          <span class="nav_name">Мои активности</span>
        </a>
        <a href="#" class="nav_link">
          <i class="bi bi-bookmark"></i>
          <span class="nav_name">Сохраненное</span>
        </a>
        <a href="#" class="nav_link">
          <i class="bi bi-journal"></i>
          <span class="nav_name">Учеба</span>
        </a>
<!--        <a href="#" class="nav_link">-->
<!--          <i class='bx bx-grid-alt nav_icon'></i>-->
<!--          <span class="nav_name">Dashboard</span>-->
<!--        </a>-->
<!--        <a href="#" class="nav_link">-->
<!--          <i class='bx bx-user nav_icon'></i>-->
<!--          <span class="nav_name">Users</span>-->
<!--        </a>-->
<!--        <a href="#" class="nav_link">-->
<!--          <i class='bx bx-message-square-detail nav_icon'></i>-->
<!--          <span class="nav_name">Messages</span>-->
<!--        </a>-->
<!--        <a href="#" class="nav_link">-->
<!--          <i class='bx bx-bookmark nav_icon'></i>-->
<!--          <span class="nav_name">Bookmark</span>-->
<!--        </a>-->
<!--        <a href="#" class="nav_link">-->
<!--          <i class='bx bx-folder nav_icon'></i>-->
<!--          <span class="nav_name">Files</span>-->
<!--        </a>-->
<!--        <a href="#" class="nav_link">-->
<!--          <i class='bx bx-bar-chart-alt-2 nav_icon'></i>-->
<!--          <span class="nav_name">Stats</span>-->
<!--        </a>-->
      </div>
    </div>
    <a href="#" class="nav_link">
      <i class="bi bi-box-arrow-left"></i>
      <span class="nav_name">SignOut</span>
    </a>
  </nav>
</div>

<div class="height-100 bg-light">

  <div class="container-fluid">

    <h4>Main Components</h4>
    <div class="row">
      <div class="col-5">
        <div class="mb-3" >
          <div class="card mb-1">
            <div class="card-body">
              <h5 class="card-title">
                <span class="text-info">{ " </span >
                Ершов
                <span class="text-info"> " : " </span>
                Вадим
                <span class="text-info"> " }</span>
              </h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col">
              </div>
              <div class="col-3">
                <div class="position-relative">
                  <div class="position-absolute bottom-0 end-0">
                    <button type="button" class="btn btn-light btn-lg"><i class="bi bi-chat-left-dots"></i></button>
                    <button type="button" class="btn btn-light btn-lg"><i class="bi bi-bookmark-plus"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/sidebar.js"></script>
</body>